:root {
    --color-primary: #8B80F9;
    --color-secundary: #000;
    --color-black-1: #1D2043;
    --color-white-background: #f9fafb;
    --color-title-background: #d1ccfe;
    --color-text-p: #00000099;
    --color-text-h3: #255983;
}